@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
}

[data-theme="dark"] {
  --bg: hsl(230, 17%, 14%);
  --bg-t: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4vh;
}

.theme-switch-wrapper em {
  margin-right: 10px;
  font-size: 1rem;
  color: var(--text-secondary);
  font-weight: 700;
}

.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 5.5px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 22px;
}

input:checked + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--text);
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: -5;
  background-color: var(--bg-t);
}

nav {
  width: 90vw;
  margin-inline: auto;
}

nav h1 {
  margin-top: 4vh;
  margin-bottom: 1vh;
}

nav p {
  color: var(--text-secondary);
  font-weight: 700;
}

nav hr {
  margin: 4vh auto 2vh auto;
  border: none;
  height: 0.5px;
  background-color: var(--text-secondary);
}

.change {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.change::before {
  position: absolute;
  left: -12px;
  bottom: 2px;
}

.decrease {
  color: #dc414c;
}

.decrease::before {
  content: url(/images/icon-down.svg);
}

.increase {
  color: #1db489;
}

.increase::before {
  content: url(/images/icon-up.svg);
}

.upper-section {
  width: 90vw;
  margin-inline: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.upper-section .item {
  width: 100%;
  background-color: var(--card-bg);
  padding: 20px;
  text-align: center;
  color: var(--text-secondary);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.upper-section .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 0;
  z-index: 5;
}

.upper-section .item .name {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 25px;
}

.upper-section .item .name img {
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.upper-section .item .amount {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text);
}

.upper-section .item .type {
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.upper-section .item .change {
  margin-bottom: 10px;
}

.upper-section .item1::before {
  background-color: #198ff5;
}

.upper-section .item2::before {
  background-color: #1ca0f2;
}

.upper-section .item3::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.upper-section .item4::before {
  background-color: #c4032a;
}

h2 {
  color: var(--text-secondary);
  margin: 30px auto;
  width: 90vw;
}

.lower-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 90vw;
  margin-inline: auto;
  gap: 15px;
  margin-bottom: 40px;
}

.lower-section .item {
  background-color: var(--card-bg);
  padding: 20px;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lower-section .item .title {
  color: var(--text-secondary);
  font-weight: 700;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.lower-section .item .image {
  width: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.lower-section .item .amount {
  font-weight: 700;
  font-size: 2rem;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lower-section .item .change {
  margin-right: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */