@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
//scss code goes there
@mixin media {
  @media (min-width: 1000px) {
    @content;
  }
}
//reseting margins paddings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//declaring set of variables for darkmode
:root {
  --bg: hsl(0, 0%, 100%);
  --bg-top: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --hover-effect: brightness(0.9);
}
[data-theme="dark"] {
  --bg: hsl(230, 17%, 14%);
  --bg-t: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --hover-effect: brightness(1.2);
}
// ---------- DARK MODE SWITCH START---------------
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4vh;
  @include media {
    width: fit-content;
    margin-left: auto;
    position: relative;
    top: -4vh;
  }

  em {
    margin-right: 10px;
    font-size: 1rem;
    color: var(--text-secondary);
    font-weight: 700;
  }
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 5.5px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

input:checked + .slider {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
// ---------- DARK MODE SWITCH END---------------
body {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--text);
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  @include media {
    overflow: hidden;
  }
}
.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: -5;
  background-color: var(--bg-t);
}
nav {
  width: 90vw;
  margin-inline: auto;
  @include media {
    width: Min(80vw, 1300px);
  }

  h1 {
    margin-top: 4vh;
    margin-bottom: 1vh;
    @include media {
      font-size: 2rem;
    }
  }
  p {
    color: var(--text-secondary);
    font-weight: 700;
  }
  hr {
    margin: 4vh auto 2vh auto;
    border: none;
    height: 0.5px;
    background-color: var(--text-secondary);
    @include media {
      display: none;
    }
  }
}
//utility class for green and red text start
.change {
  position: relative;
  width: fit-content;
  margin-inline: auto;

  &:before {
    position: absolute;
    z-index: 10;
    left: -12px;
    bottom: 2px;
    // width: 10px;
    // height: 10px;
  }
}
.decrease {
  color: hsl(356, 69%, 56%);
  &:before {
    content: "";
    content: url(../images/icon-down.svg);
  }
}
.increase {
  color: hsl(163, 72%, 41%);
  &:before {
    content: url(../images/icon-up.svg);
  }
}
//utility class for green and red text end
.upper-section {
  width: 90vw;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-content: center;
  @include media {
    grid-template-columns: repeat(4, 1fr);
    width: Min(80vw, 1300px);
  }

  .item {
    width: 100%;
    background-color: var(--card-bg);
    padding: 20px;
    text-align: center;
    color: var(--text-secondary);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      filter: var(--hover-effect);
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      left: 0;
      top: 0;
      z-index: 5;
    }

    .name {
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 15px;
      line-height: 25px;

      img {
        height: 25px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    .amount {
      font-size: 3rem;
      font-weight: 700;
      color: var(--text);
    }
    .type {
      letter-spacing: 5px;
      margin-bottom: 25px;
    }
    .change {
      margin-bottom: 10px;
    }
  }
  .item1::before {
    background-color: hsl(208, 92%, 53%);
  }
  .item2::before {
    background-color: hsl(203, 89%, 53%);
  }
  .item3::before {
    background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  }
  .item4::before {
    background-color: hsl(348, 97%, 39%);
  }
}

h2 {
  color: var(--text-secondary);
  margin: 30px auto;
  width: 90vw;
  @include media {
    margin: 50px auto;
    width: Min(80vw, 1300px);
  }
}

.lower-section {
  display: grid;
  grid-template-columns: 1fr;
  width: 90vw;
  margin-inline: auto;
  gap: 15px;
  margin-bottom: 40px;
  @include media {
    grid-template-columns: repeat(4, 1fr);
    width: Min(80vw, 1300px);
  }

  .item {
    background-color: var(--card-bg);
    padding: 20px;
    display: grid;
    border-radius: 10px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    transition: 0.3s;

    &:hover {
      filter: var(--hover-effect);
    }

    .title {
      color: var(--text-secondary);
      font-weight: 700;
      justify-self: left;
      align-self: start;
    }
    .image {
      width: 20px;
      justify-self: end;
      align-self: start;
    }
    .amount {
      font-weight: 700;
      font-size: 2rem;
      justify-self: start;
      align-self: center;
    }
    .change {
      margin-right: 0;
      justify-self: end;
      align-self: center;
    }
  }
}
